{{ define "main" }}
    <div class="pa3 pa4-ns w-100 w-70-ns center">
      <h1>Rakkaudesta sieniin</h1>
      Metsä on Suomen merkittävin luonnonvara ja sienet sen aarre, jota ei ole vielä täysin hyödynnetty. Monipuoliset, herkulliset ja terveelliset sienet tulisi saada kaikkien suomalaisten sydämiin ja ruokapöytiin.
      <br><br>
    Sieni-ihmiset ry on yhdistys, jonka tavoitteena on innostaa ja opastaa suomalaisia käyttämään enemmän luonnonvaraisia ja viljeltyjä sieniä. Sienitietous leviää viestinnän ja yhteisten tapahtumien, kuten sieniretkien ja ruuanlaittokurssien avulla.
<br><br>
    Sieni-ihmisten toiveissa on nähdä ravintoloiden ruokalistoilla ja kauppojen hyllyillä yhä enemmän erilaisia suomalaisia sieniä.
    <br><br>
    Sienissä piilee salaisuuksia ja monia mahdollisuuksia, joiden löytämiseen tarvitaan päteviä tutkijoita. Sieni-ihmiset haluavat vaikuttaa siihen, että sienien lajiston, ravintoarvojen ja viljelymahdollisuuksien tutkimustyö saisi Suomessa enemmän tukea ja kannustusta.
    <br><br>
    Rakastakaa metsää, sieniä ja sieniruokia ja tervetuloa Sieni-ihmiset ry:n toimintaan.

    <h2>Jäseneksi</h2>
    Jäseniksi ovat tervetulleita kaikki sienistä innostuneet, sieniin perehtyneet henkilöt kuin aloittelijatkin. Jäseneksi liittyminen tapahtuu Sieni-ihmisten verkkokaupan kautta suorittamalla jäsenmaksun ja ilmoittamalla yhteystiedot.
    <br><br>
    <b>Jäsenedut</b><br><br>
    Sieni-ihmiset ry:n jäsenyys oikeuttaa sieni-ihmisten tuotteiden alennuksiin ja vuosittain ilmestyvään ruokasienipainotteiseen aikakauskirjaan, jossa kiinnostavien artikkelien lisäksi julkaistaan paljon reseptejä. Ensimmäinen osa ilmestyy marraskuussa 2016. Kannatusjäsenet saavat sivustolla näkyvyyttä ja oikeuden käyttää markkinoinnissaan Sieni-ihmiset suosittelee –tunnusta. Saat tietää ensimmäisenä yhdistyksen järjestämistä tapahtumista ja retkistä, joista osa on ilmaisia jäsenistölle.



      <h2>Lainan ottaminen</h2>
          Onko mielessäsi käynyt lainan ottaminen? Tutustu seuraaviin sivuihin:
          <ul>
            <li><a href="https://www.netistalainaa.fi/pikavippi/pikavippi-100" class="link">pikavippi 100</a></li>
            <li><a href="https://www.cashmoney.fi/vertailu/pikavippi-200-euroa/" class="link">pikavippi 200</a></li>
            <li><a href="https://epikavippi.fi/300e/" class="link">pikavippi 300</a></li>
          </ul> 
          Noilta laina-sivuilta saa alkuun hyviä laina-tarjouksia. 
      </div>
{{ end }}
